:root {
  --slidev-code-font-size: 14px;
  --slidev-code-line-height: 18px;
}

.slidev-code,
.slidev-code code,
.slidev-code .line {
  white-space: pre-wrap !important;
  word-break: break-all !important;
}
